<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ScreechServlet</servlet-name>
        <servlet-class>controller.ScreechServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>ScreechServlet</servlet-name>
        <url-pattern>/ScreechServlet</url-pattern>
    </servlet-mapping>
</web-app>

